@import "vars";
@import "fonts";
@import "global";

.header{
  background-color: #0A0A0A;
  color: #FFFFFF;
}
.header__content{
  max-width: 1650px;
  margin: 0 auto;
  padding: 55px 20px;
  display: flex;
  align-items: center;
}
.header__nav{
  max-width: 1100px;
  width: 100%;
  margin: 0 60px;
}
.header__nav-list{
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.header__nav-item + .header__nav-item{
  margin-left: 20px;
}
.header__nav-item a{
  padding-bottom: 20px;
  border-bottom: 1px solid #8F0719;
  transition: all .2s;
  position: relative;
  &::before{
    transition: all .2s;
    content: "";
    position: absolute;
    bottom: 0;
    height: 1px;
    width: 100%;
    background-color: #8f0719;
  }
  &:hover{
    padding-bottom: 25px;
    color: rgba(#fff, .6);
  }
}
.header__link{
  margin-bottom: 20px;
  font-weight: 100;
  display: flex;
  align-items: center;
  transition: all .2s;
  &:hover{
    color: rgba(#fff, .6);
    svg{
      margin-left: 6px;
    }
  } 
}
.header__link-arrow{
  margin-left: 20px;
  svg{
    transition: all .2s;
    transform: rotate(90deg)
  }
}
.main-screen{
  text-align: center;
  background-color: #0A0A0A;
  margin-bottom: 335px;
  color: #fff;
}
.main-screen__title{
  font-size: 75px;
  margin: 0;
  letter-spacing: 68px;
  z-index: 3;
}
.main-screen__suptitle{
  font-size: 50px;
  font-weight: 100;
  letter-spacing: 170px;
  margin-top: 22px;
  margin-bottom: 74px;
}
.main-screen__content{
  position: relative;
  height: 600px;
}
.main-screen__items{
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.main-screen__item{
  text-transform: uppercase;
  position: absolute;
  z-index: 2;
  &:nth-child(1){
    top: 300px;
    left: 0;
  }
  &:nth-child(5){
    top: 300px;
    right: 0;
  }
  &:nth-child(2){
    top: 100px;
    left: 270px;
  }
  &:nth-child(4){
    top: 100px;
    right: 270px;
  }
  &:nth-child(3){
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}
.main-screen__item-title{
  font-size: 25px;
  font-weight: bold;
  color: #D4091B;
}
.main-screen__item-suptitle{
  font-size: 15px;
  font-weight: light;
  margin-top: 10px;
  margin-bottom: 34px;
}
.main-screen__car{
  position: absolute;
  bottom: -90px;
  display: inline-block;
  left: 50%;
  transform: translateX(-50%);
  img{
    z-index: 2;
  }
  span{
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
    top: -118px;
  }
}
.description{
  text-align: center;
  padding-bottom: 100px;
}
.description__logo{
  display: block;
  margin-bottom: 70px;
}
.description-arrow{
  border: 15px solid transparent;
  border-top: 15px solid #D4091B;
}
.description__content{
  max-width: 812px;
  height: 750px;
  overflow: hidden;
  margin: 0 auto;
  text-align: start;
  font-size: 25px;
  line-height: 46px;
  position: relative;
  &::before{
    background: linear-gradient(180deg, rgba(#fff, .6), rgba(#fff, 1));
    height: 250px;
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}
.description__btn{
  margin-top: 30px;
  font-size: 20px;
  font-weight: light;
  padding-left: 50px;
  position: relative;
  display: inline-block;
  cursor: pointer;
  &:hover::before{
    transform: rotate(180deg);
  }
  &::before{
    content: "";
    position: absolute;
    left: 0;
    width: 30px;
    transition: all .2s;
    height: 30px;
    background-image: url(../images/ref.svg);
    background-size: cover;
    background-repeat: no-repeat;
  }
}
.description__btn-text{
  padding-bottom: 15px;
  position: relative;
  &::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 36px;
    height: 2px;
    background-color: #D4091B;
  }
}
.advantages{
  background-color: #0A0A0A;
  color: #fff;
  padding: 90px 0;
  display: flex;
  align-items: center;
}
.slider__control{
  background-color: #0A0A0A;
  z-index: 4;
  padding-left: 140px;
  max-width: 680px;
  width: 100%;
}
.swiper-wrapper{
  padding-left: 50px;
}
.line{
  width: 122px;
  height: 10px;
  background-color: #D4091B;
}
.slider__title{
  margin-top: 70px;
  margin-bottom: 130px;
}
.slider__buttons{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  span{
    width: 2px;
    transform: rotate(15deg);
    height: 27px;
    background-color: #D4091B;
  }
}
.swiper-button-prev, .swiper-button-next{
  position: static;
  background-repeat: no-repeat;
  width: 50px;
  height: 15px;
  margin: 0 !important;
  &::after{
    display: none;
  }
}
.slider__title{
  font-size: 60px;
}
.slide-item__num{
  font-size: 155px;
  color: rgba(#fff, .05);
  margin-bottom: -80px;
}
.slide-item__arrow{
  border: 15px solid transparent;
  border-top: 15px solid #D4091B;
  margin-left: 35px;
}
.slide-item__icon{
  margin-bottom: 47px;
}
.slide-item__title{
  text-transform: uppercase;
  font-size: 25px;
  color: #D4091B;
  padding-bottom: 25px;
  position: relative;
  margin-bottom: 25px;
  &::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 54px;
    background-color: #D4091B;
  }
}
.slide-item__text{
  font-size: 20px;
}












@import "media";
